.modal__block {
    position: absolute;
    left: 425px;
    top: 100px;
}

.modal__img {
    width: 20px;
    height: 20px;
    background: url('../../../public/assets/leftBtn.png') no-repeat center;
    display: flex;
    align-items: baseline;
}

.modal {
    display: flex;
    align-items: center;
}

.description {
    width: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media (max-width: 900px) {
    .modal__block {
        left: 75px;
    }
}