.pagination__item {
  display: flex;
  list-style-type: none;
  margin: 5px;
  .btn {
    font-family: 'Oswald';
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    background: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
  }
}

.pagination__list {
  width: 360px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 0;
}

