.coins__select {
    width: 360px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    .title {
        margin: 0;
    }
    .select {
        border: none;
        width: 265px;
        height: 25px;
        border-radius: 5px;
    }
    .option__item {
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        font-size: 14px;
    }
}