.coins__select {
    width: 360px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    .title {
        margin: 0;
    }
    .select {
        width: 265px;
        height: 25px;
        border-radius: 10px;
    }
}