.block__items {
  width: 360px;
}

.items {
  width: 360px;
  padding: 0;
  margin: 0;
  .block__list {
    width: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    .item__list {
        list-style-type: none;
    }
  }
}

.back__img {
  width: 50px;
  height: 50px;
}

.pagination__bar {
  width: 100%;
  display: flex;
  justify-content: center;
}